/* 	
Trailer Management Style sheet 
Gregory Stone
INFO-C451 System Implementation
Trailer Management System Project
*/

body {
	font-family:"Lucida Console", Monaco, monospace;
	font-family:Arial,Helvetica,sans-serif;
}

.bar {
	background-color:#000000;
	height:10px;
	width:900px;
	clear:both;
}

.barSub {
	background-color:#000000;
	height:50px;
	width:400px;
	clear:both;
}

#header {	
	background-color:#63757C;
	padding:0px 0px 20px 0px;
	float:left;
	height:50px;
	width:900px;
	color:#FFFFFF;
	text-align: center;
}

#headerSub {	
	background-color:#63757C;
	padding:0px 0px 20px 0px;
	float:left;
	height:50px;
	width:600px;
	color:#FFFFFF;
	text-align: center;
}

#leftNav {
	background-color:#E3E3F9;
	height:520px;
	width:150px;
	float:left;
	border-right: thin solid black;
}

#leftNavSub {
	background-color:#E3E3F9;
	height:350px;
	width:150px;
	float:left;
	border-right: thin solid black;
}

#leftNav p {
	margin:10px 0px 10px 10px;
}

#leftNav p:hover {
	background-color:white;
	border: 1px dotted darkgray;
}

a:active {	
	background-color:white;
	border: 3px dotted darkgray;
}

#bodyContent {
	background-color:#F7F0DF;
	padding:20px;
	height:480px;
	width:709px;
	float:left;
	overflow:auto;
}

#bodyContentSub {
	background-color:#55F0DF;
	height:350px;
	width:450px;
	float:left;
	overflow:auto;
}

.content {
	background-color:#F7F0DF;
	padding:5px;
	height:450px;
	width:700px;
	float:left;
	overflow:auto;
}

#footer {
	background-color:#333333;
	float:left;
	height:50px;
	width:900px;
	color:#FFFFFF;
	text-align: center;
}

#about {
	color: black;
	background-color:white;
	margin: 1cm;
	padding: 10px;
	border-width: thick;
	border-style: ridge;
	border-radius: 15px;
}

#reverse {
	color: white;
	background-color: black;
	margin: 1cm;
	border-width: thick;
	border-style: ridge;
	border-radius: 15px;
}

#reverse:hover {
	background-color:sienna; /* #A0522D */
}